In [126]:
!pip install pandas numpy #Installing the required library

Requirement already satisfied: pandas in /opt/miniconda3/lib/python3.12/site-packages (2.2.1)
Requirement already satisfied: numpy in /opt/miniconda3/lib/python3.12/site-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/miniconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/miniconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/miniconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/miniconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [127]:
#Cleaning missing data
# Remove records containing missing values in 'director', 'cast', 'date_added', and 'rating' columns
# Remove records containing missing values in 'director', 'cast', 'date_added', and 'rating' columns
#netflix_cleaned = data1.dropna(subset=['runtime'])

# Show general information and first five rows of the cleaned data set
#netflix_cleaned.info(), netflix_cleaned.head()

In [128]:
import pandas as pd

#Upload datasets
data1 = pd.read_csv('netflix_titles.csv');
data2 = pd.read_csv('imdb_movies.csv');

#Show first 5 lines
merged_data = pd.merge(data2, data1, left_on='names', right_on='title')
print(merged_data.head())

             names       date_x  score                              genre  \
0  Attack on Titan  09/30/2022    59.0            Action, Science Fiction
1        Champions  03/09/2023    68.0                             Comedy
2             Prey  08/05/2022    78.0  Thriller, Action, Science Fiction
3           Scream  01/13/2022    67.0          Horror, Mystery, Thriller
4           Scream  01/13/2022    67.0          Horror, Mystery, Thriller

                                            overview  \
0  As viable water is depleted on Earth, a missio...
1  A stubborn and hotheaded minor league basketba...
2  When danger threatens her camp, the fierce and...
3  Twenty-five years after a streak of brutal mur...
4  Twenty-five years after a streak of brutal mur...

                                                crew       orig_title  \
0  Paul Bianchi, Computer (voice), Erin Coker, Al...  Attack on Titan
1  Woody Harrelson, Marcus, Kaitlin Olson, Alex, ...        Champions
2  Amber Midthunder, Naru, Dakota Beavers, Taabe,...             Prey
3  Melissa Barrera, Sam Carpenter, Mason Gooding,...           Scream
4  Melissa Barrera, Sam Carpenter, Mason Gooding,...           Scream

      status orig_lang    budget_x  ...            title       director  \
0   Released   English  71000000.0  ...  Attack on Titan            NaN
1   Released   English  51880004.0  ...        Champions            NaN
2   Released   English  65000000.0  ...             Prey  Thomas Sieben
3   Released   English  24000000.0  ...           Scream            NaN
4   Released   English  15000000.0  ...           Scream            NaN

                                                cast      country_y  \
0  Yuki Kaji, Yui Ishikawa, Marina Inoue, Kisho T...          Japan
1  Anders Holm, Fortune Feimster, Andy Favreau, J...  United States
2  David Kross, Hanno Koffler, Maria Ehrich, Robe...            NaN
3  Willa Fitzgerald, Bex Taylor-Klaus, John Karna...  United States
4  Willa Fitzgerald, Bex Taylor-Klaus, John Karna...  United States

           date_added release_year rating   duration  \
0        June 2, 2021         2013  TV-MA   1 Season
1       June 19, 2021         2018  TV-14   1 Season
2  September 10, 2021         2021  TV-MA     87 min
3        July 6, 2021         2019  TV-MA  3 Seasons
4        July 6, 2021         2019  TV-MA  3 Seasons

                                 listed_in  \
0     Anime Series, International TV Shows
1                              TV Comedies
2          International Movies, Thrillers
3  Crime TV Shows, TV Horror, TV Mysteries
4  Crime TV Shows, TV Horror, TV Mysteries

                                         description
0  With his hometown in ruins, young Eren Yeager ...
1  Years after getting his girlfriend pregnant, w...
2  A hiking trip into the wild turns into a despe...
3  In this new TV series sequel to the classic ho...
4  In this new TV series sequel to the classic ho...

[5 rows x 24 columns]

In [129]:
merged_data.shape

(1641, 24)

In [130]:
merged_data.columns

Index(['names', 'date_x', 'score', 'genre', 'overview', 'crew', 'orig_title',
       'status', 'orig_lang', 'budget_x', 'revenue', 'country_x', 'show_id',
       'type', 'title', 'director', 'cast', 'country_y', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [131]:
cleaned_data = merged_data.dropna(subset=['score','budget_x','director','cast','revenue'])

In [132]:
cleaned_data.shape

(1492, 24)

In [133]:
cleaned_data.columns

Index(['names', 'date_x', 'score', 'genre', 'overview', 'crew', 'orig_title',
       'status', 'orig_lang', 'budget_x', 'revenue', 'country_x', 'show_id',
       'type', 'title', 'director', 'cast', 'country_y', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [134]:
print(cleaned_data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1492 entries, 2 to 1640
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   names         1492 non-null   object
 1   date_x        1492 non-null   object
 2   score         1492 non-null   float64
 3   genre         1490 non-null   object
 4   overview      1492 non-null   object
 5   crew          1491 non-null   object
 6   orig_title    1492 non-null   object
 7   status        1492 non-null   object
 8   orig_lang     1492 non-null   object
 9   budget_x      1492 non-null   float64
 10  revenue       1492 non-null   float64
 11  country_x     1492 non-null   object
 12  show_id       1492 non-null   object
 13  type          1492 non-null   object
 14  title         1492 non-null   object
 15  director      1492 non-null   object
 16  cast          1492 non-null   object
 17  country_y     1446 non-null   object
 18  date_added    1492 non-null   object
 19  release_year  1492 non-null   int64
 20  rating        1492 non-null   object
 21  duration      1492 non-null   object
 22  listed_in     1492 non-null   object
 23  description   1492 non-null   object
dtypes: float64(3), int64(1), object(20)
memory usage: 291.4+ KB
None

In [135]:
cleaned_data.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,...,title,director,cast,country_y,date_added,release_year,rating,duration,listed_in,description
2,Prey,08/05/2022,78.0,"Thriller, Action, Science Fiction","When danger threatens her camp, the fierce and...","Amber Midthunder, Naru, Dakota Beavers, Taabe,...",Prey,Released,English,65000000.0,...,Prey,Thomas Sieben,"David Kross, Hanno Koffler, Maria Ehrich, Robe...",NaN,"September 10, 2021",2021,TV-MA,87 min,"International Movies, Thrillers",A hiking trip into the wild turns into a despe...
5,Avengers: Infinity War,04/25/2018,83.0,"Adventure, Action, Science Fiction",As the Avengers and their allies have continue...,"Robert Downey Jr., Tony Stark / Iron Man, Chri...",Avengers: Infinity War,Released,English,300000000.0,...,Avengers: Infinity War,"Anthony Russo, Joe Russo","Robert Downey Jr., Josh Brolin, Mark Ruffalo, ...",United States,"December 25, 2018",2018,PG-13,150 min,"Action & Adventure, Sci-Fi & Fantasy",Superheroes amass to stop intergalactic sociop...
6,Murder Mystery,05/25/2019,63.0,"Comedy, Mystery","On a long-awaited trip to Europe, a New York C...","Adam Sandler, Nick Spitz, Jennifer Aniston, Au...",Murder Mystery,Released,English,24000000.0,...,Murder Mystery,Kyle Newacheck,"Adam Sandler, Jennifer Aniston, Luke Evans, Ge...",United States,"June 14, 2019",2019,PG-13,98 min,Comedies,"On a long-awaited trip to Europe, a New York C..."
8,Coraline,08/06/2009,78.0,"Animation, Family, Fantasy",A young girl discovers an idealized parallel u...,"Dakota Fanning, Coraline Jones (voice), Teri H...",Coraline,Released,English,60000000.0,...,Coraline,Henry Selick,"Dakota Fanning, Teri Hatcher, John Hodgman, Je...",United States,"March 16, 2017",2009,PG,101 min,Children & Family Movies,Curious young Coraline unlocks a door in her f...
10,The Little Mermaid,05/26/2023,0.0,"Adventure, Family, Fantasy, Romance","The youngest of King Triton’s daughters, and t...","Halle Bailey, Ariel, Jonah Hauer-King, Prince ...",The Little Mermaid,Post Production,English,205000000.0,...,The Little Mermaid,"Blake Harris, Chris Bouchard","William Moseley, Poppy Drayton, Loreto Peralta...",United States,"December 1, 2018",2018,PG,85 min,"Children & Family Movies, Dramas","In this take on the classic tale, a captive ci..."

In [136]:
avenger=cleaned_data.iloc[1]
print(avenger)
cleaned_data.shape

names                                      Avengers: Infinity War
date_x                                                04/25/2018
score                                                        83.0
genre                          Adventure, Action, Science Fiction
overview        As the Avengers and their allies have continue...
crew            Robert Downey Jr., Tony Stark / Iron Man, Chri...
orig_title                                 Avengers: Infinity War
status                                                   Released
orig_lang                                                 English
budget_x                                              300000000.0
revenue                                              2048359754.0
country_x                                                      AU
show_id                                                     s6201
type                                                        Movie
title                                      Avengers: Infinity War
director                                 Anthony Russo, Joe Russo
cast            Robert Downey Jr., Josh Brolin, Mark Ruffalo, ...
country_y                                           United States
date_added                                      December 25, 2018
release_year                                                 2018
rating                                                      PG-13
duration                                                  150 min
listed_in                    Action & Adventure, Sci-Fi & Fantasy
description     Superheroes amass to stop intergalactic sociop...
Name: 5, dtype: object

(1492, 24)

In [137]:

print(cleaned_data.iloc[0]['cast'])

David Kross, Hanno Koffler, Maria Ehrich, Robert Finster, Yung Ngo, Klaus Steinbacher, Livia Matthes, Nellie Thalbach

In [138]:
# Create new DataFrame by separating the 'cast' column with a comma
cast_expanded = cleaned_data['cast'].str.split(',', expand=True)

# Name the new columns 'actor_1', 'actor_2', ...
cast_expanded.columns = [f'actor_{i+1}' for i in range(cast_expanded.shape[1])]

# Add new columns to original DataFrame
cleaned_data = pd.concat([cleaned_data, cast_expanded], axis=1)

# remove 'cast' column (optional)
cleaned_data.drop('cast', axis=1, inplace=True)

# Show results
print(cleaned_data.head())

                     names       date_x  score  \
2                     Prey  08/05/2022    78.0
5   Avengers: Infinity War  04/25/2018    83.0
6           Murder Mystery  05/25/2019    63.0
8                 Coraline  08/06/2009    78.0
10      The Little Mermaid  05/26/2023     0.0

                                  genre  \
2     Thriller, Action, Science Fiction
5    Adventure, Action, Science Fiction
6                       Comedy, Mystery
8            Animation, Family, Fantasy
10  Adventure, Family, Fantasy, Romance

                                             overview  \
2   When danger threatens her camp, the fierce and...
5   As the Avengers and their allies have continue...
6   On a long-awaited trip to Europe, a New York C...
8   A young girl discovers an idealized parallel u...
10  The youngest of King Triton’s daughters, and t...

                                                 crew              orig_title  \
2   Amber Midthunder, Naru, Dakota Beavers, Taabe,...                    Prey
5   Robert Downey Jr., Tony Stark / Iron Man, Chri...  Avengers: Infinity War
6   Adam Sandler, Nick Spitz, Jennifer Aniston, Au...          Murder Mystery
8   Dakota Fanning, Coraline Jones (voice), Teri H...                Coraline
10  Halle Bailey, Ariel, Jonah Hauer-King, Prince ...      The Little Mermaid

              status orig_lang     budget_x  ...  actor_35 actor_36 actor_37  \
2           Released   English   65000000.0  ...      None     None     None
5           Released   English  300000000.0  ...      None     None     None
6           Released   English   24000000.0  ...      None     None     None
8           Released   English   60000000.0  ...      None     None     None
10   Post Production   English  205000000.0  ...      None     None     None

   actor_38 actor_39 actor_40 actor_41 actor_42  actor_43 actor_44
2      None     None     None     None     None      None     None
5      None     None     None     None     None      None     None
6      None     None     None     None     None      None     None
8      None     None     None     None     None      None     None
10     None     None     None     None     None      None     None

[5 rows x 67 columns]

In [139]:
# Remove columns other than top 5 actors
cleaned_data = cleaned_data[cleaned_data.columns.drop(list(cleaned_data.filter(regex='actor_[6-9]|actor_[1-9][0-9]')))]


# Review of results
print(cleaned_data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1492 entries, 2 to 1640
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   names         1492 non-null   object
 1   date_x        1492 non-null   object
 2   score         1492 non-null   float64
 3   genre         1490 non-null   object
 4   overview      1492 non-null   object
 5   crew          1491 non-null   object
 6   orig_title    1492 non-null   object
 7   status        1492 non-null   object
 8   orig_lang     1492 non-null   object
 9   budget_x      1492 non-null   float64
 10  revenue       1492 non-null   float64
 11  country_x     1492 non-null   object
 12  show_id       1492 non-null   object
 13  type          1492 non-null   object
 14  title         1492 non-null   object
 15  director      1492 non-null   object
 16  country_y     1446 non-null   object
 17  date_added    1492 non-null   object
 18  release_year  1492 non-null   int64
 19  rating        1492 non-null   object
 20  duration      1492 non-null   object
 21  listed_in     1492 non-null   object
 22  description   1492 non-null   object
 23  actor_1       1492 non-null   object
 24  actor_2       1480 non-null   object
 25  actor_3       1471 non-null   object
 26  actor_4       1453 non-null   object
 27  actor_5       1431 non-null   object
dtypes: float64(3), int64(1), object(24)
memory usage: 338.0+ KB
None

In [140]:
avenger=cleaned_data.iloc[1]
print(avenger)
cleaned_data.shape

names                                      Avengers: Infinity War
date_x                                                04/25/2018
score                                                        83.0
genre                          Adventure, Action, Science Fiction
overview        As the Avengers and their allies have continue...
crew            Robert Downey Jr., Tony Stark / Iron Man, Chri...
orig_title                                 Avengers: Infinity War
status                                                   Released
orig_lang                                                 English
budget_x                                              300000000.0
revenue                                              2048359754.0
country_x                                                      AU
show_id                                                     s6201
type                                                        Movie
title                                      Avengers: Infinity War
director                                 Anthony Russo, Joe Russo
country_y                                           United States
date_added                                      December 25, 2018
release_year                                                 2018
rating                                                      PG-13
duration                                                  150 min
listed_in                    Action & Adventure, Sci-Fi & Fantasy
description     Superheroes amass to stop intergalactic sociop...
actor_1                                         Robert Downey Jr.
actor_2                                               Josh Brolin
actor_3                                              Mark Ruffalo
actor_4                                            Tom Hiddleston
actor_5                                               Chris Evans
Name: 5, dtype: object

(1492, 28)

In [141]:
# Print data types of columns
print(cleaned_data.dtypes)

names            object
date_x           object
score           float64
genre            object
overview         object
crew             object
orig_title       object
status           object
orig_lang        object
budget_x        float64
revenue         float64
country_x        object
show_id          object
type             object
title            object
director         object
country_y        object
date_added       object
release_year      int64
rating           object
duration         object
listed_in        object
description      object
actor_1          object
actor_2          object
actor_3          object
actor_4          object
actor_5          object
dtype: object

In [142]:
avenger=cleaned_data.iloc[1]
print(avenger)
cleaned_data.shape

names                                      Avengers: Infinity War
date_x                                                04/25/2018
score                                                        83.0
genre                          Adventure, Action, Science Fiction
overview        As the Avengers and their allies have continue...
crew            Robert Downey Jr., Tony Stark / Iron Man, Chri...
orig_title                                 Avengers: Infinity War
status                                                   Released
orig_lang                                                 English
budget_x                                              300000000.0
revenue                                              2048359754.0
country_x                                                      AU
show_id                                                     s6201
type                                                        Movie
title                                      Avengers: Infinity War
director                                 Anthony Russo, Joe Russo
country_y                                           United States
date_added                                      December 25, 2018
release_year                                                 2018
rating                                                      PG-13
duration                                                  150 min
listed_in                    Action & Adventure, Sci-Fi & Fantasy
description     Superheroes amass to stop intergalactic sociop...
actor_1                                         Robert Downey Jr.
actor_2                                               Josh Brolin
actor_3                                              Mark Ruffalo
actor_4                                            Tom Hiddleston
actor_5                                               Chris Evans
Name: 5, dtype: object

(1492, 28)

In [143]:
# Filter and remove rows containing 'Seasons' in 'duration' column
cleaned_data = cleaned_data[~cleaned_data['duration'].str.contains('Season')]

# Remove 'min' in 'duration' column and convert to numeric value
cleaned_data['duration'] = cleaned_data['duration'].str.replace(' min', '').astype(int)

In [144]:
# Delete related columns
cleaned_data.drop(['country_y', 'date_added', 'date_x'], axis=1, inplace=True)

In [145]:
# Delete related columns
cleaned_data.drop(['title', 'orig_title'], axis=1, inplace=True)

In [146]:
avenger=cleaned_data.iloc[1]
print(avenger)
cleaned_data.shape

names                                      Avengers: Infinity War
score                                                        83.0
genre                          Adventure, Action, Science Fiction
overview        As the Avengers and their allies have continue...
crew            Robert Downey Jr., Tony Stark / Iron Man, Chri...
status                                                   Released
orig_lang                                                 English
budget_x                                              300000000.0
revenue                                              2048359754.0
country_x                                                      AU
show_id                                                     s6201
type                                                        Movie
director                                 Anthony Russo, Joe Russo
release_year                                                 2018
rating                                                      PG-13
duration                                                      150
listed_in                    Action & Adventure, Sci-Fi & Fantasy
description     Superheroes amass to stop intergalactic sociop...
actor_1                                         Robert Downey Jr.
actor_2                                               Josh Brolin
actor_3                                              Mark Ruffalo
actor_4                                            Tom Hiddleston
actor_5                                               Chris Evans
Name: 5, dtype: object

(1479, 23)

In [147]:
cleaned_data.head()

,names,score,genre,overview,crew,status,orig_lang,budget_x,revenue,country_x,...,release_year,rating,duration,listed_in,description,actor_1,actor_2,actor_3,actor_4,actor_5
2,Prey,78.0,"Thriller, Action, Science Fiction","When danger threatens her camp, the fierce and...","Amber Midthunder, Naru, Dakota Beavers, Taabe,...",Released,English,65000000.0,0.000000e+00,AU,...,2021,TV-MA,87,"International Movies, Thrillers",A hiking trip into the wild turns into a despe...,David Kross,Hanno Koffler,Maria Ehrich,Robert Finster,Yung Ngo
5,Avengers: Infinity War,83.0,"Adventure, Action, Science Fiction",As the Avengers and their allies have continue...,"Robert Downey Jr., Tony Stark / Iron Man, Chri...",Released,English,300000000.0,2.048360e+09,AU,...,2018,PG-13,150,"Action & Adventure, Sci-Fi & Fantasy",Superheroes amass to stop intergalactic sociop...,Robert Downey Jr.,Josh Brolin,Mark Ruffalo,Tom Hiddleston,Chris Evans
6,Murder Mystery,63.0,"Comedy, Mystery","On a long-awaited trip to Europe, a New York C...","Adam Sandler, Nick Spitz, Jennifer Aniston, Au...",Released,English,24000000.0,2.058096e+08,AU,...,2019,PG-13,98,Comedies,"On a long-awaited trip to Europe, a New York C...",Adam Sandler,Jennifer Aniston,Luke Evans,Gemma Arterton,Adeel Akhtar
8,Coraline,78.0,"Animation, Family, Fantasy",A young girl discovers an idealized parallel u...,"Dakota Fanning, Coraline Jones (voice), Teri H...",Released,English,60000000.0,1.260371e+08,AU,...,2009,PG,101,Children & Family Movies,Curious young Coraline unlocks a door in her f...,Dakota Fanning,Teri Hatcher,John Hodgman,Jennifer Saunders,Dawn French
10,The Little Mermaid,0.0,"Adventure, Family, Fantasy, Romance","The youngest of King Triton’s daughters, and t...","Halle Bailey, Ariel, Jonah Hauer-King, Prince ...",Post Production,English,205000000.0,1.783599e+08,US,...,2018,PG,85,"Children & Family Movies, Dramas","In this take on the classic tale, a captive ci...",William Moseley,Poppy Drayton,Loreto Peralta,Armando Gutierrez,Shirley MacLaine

In [148]:
# Show columns of the dataset
print(cleaned_data.columns)

Index(['names', 'score', 'genre', 'overview', 'crew', 'status', 'orig_lang',
       'budget_x', 'revenue', 'country_x', 'show_id', 'type', 'director',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'actor_1', 'actor_2', 'actor_3', 'actor_4', 'actor_5'],
      dtype='object')

In [125]:
cleaned_data.to_csv('cleaned_data.csv', index=False)